//imports
//famous
.full-screen {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.full-height,
.full-height .fa-surface {
  height: 100%;
}
.full-width,
.full-width .fa-surface {
  width: 100%;
}
.lg-content {
  padding: 60px 16px 16px;
}
//colors
$accent-color: pink;
$text-display: rgba(0,0,0,0.54);
$text-black: rgba(0,0,0,0.87);
$text-white: white;
//fonts
$default-font: 'Cutive', Serif;
$mono-type: 'Cutive Mono', 'Courier New', Courier, monospace;
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: $default-font;
  &.black {
    color: $text-black;
  }
  &.display {
    color: $text-display;
  }
  &.white {
    color: $text-white;
  }
}
.mono {
  font-family: $mono-type;
}
body,
p {
  font-family: $mono-type;
  color: $text-black;
  &.white {
    color: $text-white;
  }
}
a.md-button {
  text-transform: capitalize;
}
.capitalize {
  text-transform: capitalize;
}
.deemphasize {
  color: $text-display;
}
//icons
.mdi-lg {
  font-size: 1.5em;
}
.md-button.center {
  span.mdi {
    vertical-align: top;
  }
}
.md-button.block {
  width: 100%;
  text-align: start;
}
.circular {
  border-radius: 50%;
}
.md-button.md-default-theme.circular {
  border-radius: 50%;
}
//Main section
.button-list {
  padding: 16px 0;
}
//tags
.tag-form {
  padding: 16px;
  display: inline-block;
  div.chip {
    background-color: #eee;
    border-radius: 16px;
    float: left;
    height: 32px;
    margin: 3px;
    padding-left: 12px;
    &.delete {
      background-color: #ef9a9a;
    }
    button.text.md-button.md-default-theme {
      color: rgba(0,0,0,0.54);
      font-family: $mono-type;
      font-size: 12px;
      padding: 8px;
      text-transform: capitalize;
      top: -2px;
    }
    button.circular.md-button.md-default-theme {
      padding: 4px;
    }
  }
  div.input {
    float: left;
    input {
      float: left;
      height: 32px;
      margin-right: 3px;
      border: none;
      border-bottom: 1px solid #eee;
      &:focus {
        border-bottom: 1px solid $accent-color;
      }
    }
    button.add.md-button.md-defasult-theme {
      padding: 8px;
    }
  }
}
//material design changes
//chips
.md-chips .md-chip .md-chip-remove {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
/*! suit-flex-embed v1.4.0 | MIT License | github.com/suitcss */
.FlexEmbed {
  display: block;
  overflow: hidden;
  position: relative;
}
.FlexEmbed:before {
  content: "";
  display: block;
  width: 100%;
}
.FlexEmbed--3by1:before {
  padding-bottom: 33.33333%;
}
.FlexEmbed--2by1:before {
  padding-bottom: 50%;
}
.FlexEmbed--16by9:before {
  padding-bottom: 56.25%;
}
.FlexEmbed--4by3:before {
  padding-bottom: 75%;
}
.CoverImage {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto 1em;
  //max-height: 600px;
  max-width: 100%;
  min-height: 100%;
}