<fa-modifier>
  <fa-scroll-view>
    <fa-modifier fa-proportions="[1,.5625]">
      <fa-view>
        <fa-modifier fa-proportions="[1,.5625]">
          <fa-surface class="full-height">
            <div class="CoverImage FlexEmbed FlexEmbed--16by9" style="background-image:url(https://lh6.googleusercontent.com/-TOlHURd5xfw/UgkQcQ-CHlI/AAAAAAAA49o/TsxpOfCWAIk/w1207-h905-no/IMG_20130724_174059.jpg)"></div>
          </fa-surface>
        </fa-modifier>

      </fa-view>
    </fa-modifier>
    <fa-modifier>
      <fa-view>
        <fa-modifier>
          <fa-surface class="full-height">
            <md-toolbar>
              <div class="md-toolbar-tools">Stats</div>
            </md-toolbar>

            <md-content layout-fill flex="100" class="md-padding">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi unde modi animi ratione, reprehenderit atque, harum veniam ullam tempore optio perspiciatis quam cum magnam nisi assumenda corporis itaque doloremque repellat.</p>
              <pre>{{fireAuth}}</pre>
            </md-content>

          </fa-surface>
        </fa-modifier>

      </fa-view>
    </fa-modifier>
  </fa-scroll-view>

</fa-modifier>