<fa-modifier>
  <fa-modifier fa-opacity="[1]" fa-size="[responsiveCtrl.width, 36]"
    fa-translate="[0,0,1]">
    <fa-surface class="full-height">
      <div layout-align="space-between start" layout-fill layout="row">
        <md-button aria-label="menu" class="md-icon-button white" hide-gt-sm
          ng-click="responsiveCtrl.expandSidenav()">
          <md-icon class="mdi mdi-menu mdi-lg" md-font-icon></md-icon>
        </md-button>
        <md-button aria-label="search" class="md-icon-button white" hide-gt-md>
          <md-icon class="mdi mdi-magnify mdi-lg" md-font-icon></md-icon>
        </md-button>
      </div>
    </fa-surface>
  </fa-modifier>
  <fa-modifier fa-opacity="[.1]" fa-size="[responsiveCtrl.width, 36]">
    <fa-surface fa-background-color="'black'" fa-size="[responsiveCtrl.width, 36]"></fa-surface>
  </fa-modifier>
</fa-modifier>
