<fa-modifier>
  <fa-scroll-view fa-pipe-from="expandedCtrl.scrollEventHandler">
    <fa-modifier fa-size="expandedCtrl.bannerSize.get()">
      <fa-view>
        <fa-modifier fa-size="expandedCtrl.bannerSize.get()">
          <fa-surface class="full-height" fa-pipe-to="expandedCtrl.scrollEventHandler">
            <md-content get-dimensions action="expandedCtrl.updateBannerSize(height, width)">

              <fire-image id="{{expandedCtrl.uid}}" location="actor-banner" placeholder="images/placeholder_banner.png" ></fire-image>
            </md-content>
          </fa-surface>
        </fa-modifier>

      </fa-view>
    </fa-modifier>
    <fa-modifier fa-translate="[0,0,2]">
      <fa-view>
        <fa-modifier>
          <fa-surface class="full-height" fa-pipe-to="expandedCtrl.scrollEventHandler">
            <md-toolbar>
              <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span>Action Center</span>
                <span>edit header image</span>
              </div>
            </md-toolbar>

            <md-content layout-fill layout="column" flex="100" class="md-padding action-page">
              <div layout="column" layout-md="column" layout-gt-lg="row">
                <div layout="row" layout-md="column" flex>
                  <div class="button-container" flex="50">
                    <md-button aria-label="action page button" layout-fill layout="column" layout-align="space-between center" ui-sref="app.profile.stats" class="md-raised">
                      <div>
                        <p>Click here to edit your profile</p>
                      </div>

                      <div layout="row" layout-align="space-between center">
                        <md-icon md-font-icon="mdi mdi-account mdi-lg"></md-icon>
                        <span>Stats</span>
                      </div>
                    </md-button>
                  </div>
                  <div class="button-container" flex="50">
                    <md-button aria-label="action page button" layout-fill layout="column" layout-align="space-between center" class="md-raised">
                      <p>Click here to create a project</p>
                      <div layout="row" layout-align="space-between center">
                        <md-icon md-font-icon="mdi mdi-bell mdi-lg"></md-icon>
                        <span>title 2</span>
                      </div>
                    </md-button>
                  </div>
                </div>

              </div>
              <div layout="row" layout-md="column" flex>
                <div class="button-container" flex="33">
                  <md-button aria-label="action page button" layout-fill layout="column" layout-align="space-between center" class="md-raised">
                    <span>title</span>
                    <div layout="row" layout-align="space-between center">
                      <md-icon md-font-icon="mdi mdi-bell mdi-lg"></md-icon>
                      <span>title 2</span>
                    </div>
                  </md-button>
                </div>
                <div class="button-container" flex="33">
                  <md-button aria-label="action page button" layout-fill layout="column" layout-align="space-between center" class="md-raised">
                    <span>title</span>
                    <div layout="row" layout-align="space-between center">
                      <md-icon md-font-icon="mdi mdi-bell mdi-lg"></md-icon>
                      <span>title 2</span>
                    </div>
                  </md-button>
                </div>
                <div class="button-container" flex="33">
                  <md-button aria-label="action page button" layout-fill layout="column" layout-align="space-between center" class="md-raised">
                    <span>title</span>
                    <div layout="row" layout-align="space-between center">
                      <md-icon md-font-icon="mdi mdi-bell mdi-lg"></md-icon>
                      <span>title 2</span>
                    </div>
                  </md-button>
                </div>
              </div>
              </div>

            </md-content>

          </fa-surface>
        </fa-modifier>

      </fa-view>
    </fa-modifier>
  </fa-scroll-view>

</fa-modifier>
