<fa-modifier>
  <fa-scroll-view fa-pipe-from="mainViewCtrl.scrollEventHandler">
    <!-- <fa-view ng-if="!smScreen">
        <fa-modifier fa-size="[undefined, 200]">
          <fa-surface fa-pipe-to="mainViewCtrl.scrollEventHandler">test scroll {{mainViewCtrl.message}}</fa-surface>
        </fa-modifier>
      </fa-view> -->
    <fa-modifier fa-size="mainViewCtrl.headshotSize.get()">
      <fa-view>
        <fa-modifier fa-perspective="100" fa-size="mainViewCtrl.headshotSize.get()">
          <fa-surface class="full-height" fa-pipe-to="mainViewCtrl.scrollEventHandler ">
            <md-content action="mainViewCtrl.updateHeadshotSize(height, width)"
              class="md-whiteframe-z2" get-dimensions>
              <fire-image id="{{mainViewCtrl.uid}}" location="actor-headshots"></fire-image>
            </md-content>
          </fa-surface>
        </fa-modifier>
      </fa-view>
    </fa-modifier>
    <fa-view>
      <fa-modifier fa-translate="[0,0,1]">
        <fa-surface class="full-height " fa-pipe-to="mainViewCtrl.scrollEventHandler ">
          <md-card class="md-whiteframe-z2" layout-fill layout="column"
            style="background-color:white;">
            <md-toolbar>
              <div class="md-toolbar-tools" layout-align="space-between center" layout="row">
                <h3>{{mainViewCtrl.userProfile.actorName || mainViewCtrl.googleProfile.given_name + ' ' + mainViewCtrl.googleProfile.family_name}}</h3>
                <span flex></span>
                <md-button aria-label="profile nav button" class="md-icon-button center">
                  <md-icon md-font-icon="mdi mdi-email"></md-icon>
                </md-button>
                <md-button aria-label="profile nav button" class="md-icon-button center">
                  <md-icon md-font-icon="mdi mdi-share-variant"></md-icon>
                </md-button>
                <md-button aria-label="profile nav button" class="md-icon-button center">
                  <md-icon md-font-icon="mdi mdi-settings"></md-icon>
                </md-button>
              </div>
              <md-tabs>
                <md-tab>
                  <md-tab-label class="white">Profile</md-tab-label>
                </md-tab>
                <md-tab>
                  <md-tab-label class="white">Projects</md-tab-label>
                </md-tab>
                <md-tab>
                  <md-tab-label class="white">Groups</md-tab-label>
                </md-tab>
              </md-tabs>
            </md-toolbar>
            <md-content class="md-padding" layout-fill layout="column">
              <md-list class="nav-list" layout-align="start start" layout="column">
                <md-item layout-fill ng-repeat="item in mainViewCtrl.profileMenuList">
                  <md-item-content layout-align="start center" layout="row">
                    <md-button aria-label="menu button" class="md-primary center block" layout-fill
                      ng-click="responsiveCtrl.focusDetailsView(item)" ui-sref-active="active, md-accent" ui-sref="{{item.link}}">
                      <md-icon md-font-icon="mdi mdi-lg {{item.icon}}"></md-icon>
                      <span class="capitalize" flex>{{item.title}}</span>
                    </md-button>
                  </md-item-content>
                </md-item>
              </md-list>
            </md-content>
          </md-card>
        </fa-surface>
      </fa-modifier>
    </fa-view>
    <!-- <fa-modifier fa-size="[undefined, 100] ">
      <fa-view>
        <fa-modifier fa-size="[undefined, 100] ">
          <fa-surface fa-pipe-to="mainViewCtrl.scrollEventHandler " fa-background-color=" 'red' ">scroll end</fa-surface>
        </fa-modifier>
      </fa-view>
    </fa-modifier> -->
  </fa-scroll-view>
</fa-modifier>
