<md-dialog aria-label="sign-up wizard dialog" flex-gt-lg="66">
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="space-around center">
      <span>Sign Up</span>
      <span flex="66" flex-sm="33"></span>
      <md-button aria-label="button" ng-click="">
        <md-icon md-font-icon="mdi mdi-file mdi-lg"></md-icon>
      </md-button>
      <md-button aria-label="button" ng-click="signupCtrl.signUp()">
        <md-icon md-font-icon="mdi mdi-account mdi-lg"></md-icon>
        Sign Up
      </md-button>
      <md-button aria-label="button" ng-click="">
        <md-icon md-font-icon="mdi mdi-dots-vertical mdi-lg"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom md-align-tabs="bottom" md-stretch-tabs="never">
      <md-tab label="Username">
        <md-content class="md-padding">
          <pre>{{project}}</pre>
          <h4 style="margin:0">
            <md-input-container>
              <label>Name</label>
              <input type="text" ng-model="signupCtrl.newUser.name" ng-blur="signupCtrl.user.name = signupCtrl.newUser.name">
            </md-input-container>
          </h4>
          <md-button aria-label="test" ng-click="signupCtrl.checkName(signupCtrl.newUser.name)">test</md-button>
          <md-input-container>
            <label>Username</label>
            <input type="text" name="username" ng-model="username" ng-blur="signupCtrl.checkUsername(username)">
          </md-input-container>
          <md-input-container>
            <label>Email</label>
            <input type="email" name="email" ng-model="email" ng-blur="signupCtrl.checkEmail(email)">
          </md-input-container>
          <md-input-container>
            <label>Password</label>
            <input type="password" name="password" ng-model="signupCtrl.newUser.password" ng-blur="signupCtrl.checkPassword()">
          </md-input-container>
          <md-select ng-model="signupCtrl.newUser.role" placeholder="type">
            <md-option value="actor">Actor</md-option>
            <md-option value="director">Director</md-option>
            <md-option value="casting">Casting Director</md-option>
          </md-select>
          <p>A project can be created for the past, present and future</p>

          <ul>
            <li>username</li>
            <li>account type: actor, director, producer, casting director, fan, writer</li>
            <li>email</li>
            <li>password</li>
          </ul>
        </md-content>
      </md-tab>
      <md-tab label="two">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab Two</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
          <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>
      <md-tab label="three">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab Three</h1>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</md-dialog>
