<fa-modifier>
  <fa-view>
    <fa-modifier fa-translate="[0,0,3]" fa-size="[undefined, 112]">
      <fa-surface>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <md-button aria-label="go back" ui-sref="app.profile.groups" class="md-icon-button" style="margin-right:16px;">
              <md-icon md-font-icon="mdi mdi-arrow-left mdi-lg"></md-icon>
            </md-button>
            <span>{{group.title}}</span>
          </div>
          <md-tabs>
            <md-tab ui-sref="app.profile.groups.detail({id: groupPageCtrl.id})" ui-sref-active="active">
              <md-tab-label class="white">About</md-tab-label>
            </md-tab>
            <md-tab>
              <md-tab-label class="white">users</md-tab-label>
            </md-tab>
            <md-tab>
              <md-tab-label class="white">location</md-tab-label>
            </md-tab>
            <md-tab ui-sref="app.profile.groups.detail({id: groupPageCtrl.id})" ui-sref-active="active">
              <md-tab-label class="white">projects</md-tab-label>
            </md-tab>
            <md-tab>
              <md-tab-label class="white">info</md-tab-label>
            </md-tab>
          </md-tabs>
        </md-toolbar>
      </fa-surface>
    </fa-modifier>
    <fa-modifier fa-translate="[0,0,1]">
      <fa-scroll-view fa-pipe-from="groupPageCtrl.scrollEvents">
        <fa-modifier fa-size="[undefined,112]">
          <fa-view>
            <fa-modifier>
              <fa-surface>header</fa-surface>
            </fa-modifier>
          </fa-view>
        </fa-modifier>
        <fa-modifier>
          <fa-view>
            <fa-modifier>
              <fa-surface class="full-height" fa-pipe-to="groupPageCtrl.scrollEvents">
                <md-content class="md-padding">
                  <h5>
                    <md-icon md-font-icon="mdi mdi-information mdi-lg"></md-icon>About</h5>
                  <pre hide>test{{groupPageCtrl.id}}</pre>
                  <pre hide>group object: {{group}}</pre>
                  <md-input-container>
                    <label>Title</label>
                    <input type="text" ng-model="group.title">
                  </md-input-container>
                  <md-input-container>
                    <label>Description</label>
                    <textarea ng-model="group.description"></textarea>
                  </md-input-container>
                  <md-divider></md-divider>
                  <h5>
                    <md-icon md-font-icon="mdi mdi-map-marker mdi-lg"></md-icon> Location</h5>

                    <md-input-container class="map-places">
                      <input type="text" ng-autocomplete options="groupPageCtrl.searchMap.options" ng-model="group.address" details="groupPageCtrl.searchMap.details">
                    </md-input-container>
                </md-content>
                <md-content>
                <md-button aria-label="update map" layout-fill class="md-primary" ng-class="{'md-raised': groupPageCtrl.searchMap.details}" ng-disabled="!groupPageCtrl.searchMap.details" ng-click="groupPageCtrl.updateMap(groupPageCtrl.searchMap.details)">Update Map</md-button>
                <ui-gmap-google-map ng-if="groupPageCtrl.mapLoaded" control="groupPageCtrl.map.control" pan="groupPageCtrl.map.pan" center='groupPageCtrl.map.center' zoom='groupPageCtrl.map.zoom' options="groupPageCtrl.map.options">

                  <ui-gmap-marker idKey="groupPageCtrl.id" coords="groupPageCtrl.map.marker.coords" options="groupPageCtrl.map.marker.options" events="groupPageCtrl.map.marker.events"></ui-gmap-marker>

                </ui-gmap-google-map>
              </md-content>
                <md-content class="md-padding">


                  <h5>
                    <md-icon md-font-icon="mdi mdi-clock mdi-lg"></md-icon> Time and Dates</h5>
                  <h5>
                    <md-icon md-font-icon="mdi mdi-label mdi-lg"></md-icon> Labels</h5>

                </md-content>
              </fa-surface>
            </fa-modifier>
          </fa-view>
        </fa-modifier>
      </fa-scroll-view>
    </fa-modifier>
    <fa-modifier fa-translate="[0,0,-1]">
      <fa-surface fa-background-color="'white'" class="full-height" fa-pipe-to="groupPageCtrl.scrollEvents">
        <div layout-fill></div>
      </fa-surface>
    </fa-modifier>
  </fa-view>
</fa-modifier>
