<fa-modifier>
  <fa-view>
    <fa-modifier fa-translate="[0,0,3]" fa-size="[undefined, 64]">
      <fa-surface>
        <md-toolbar>
          <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <md-button aria-label="back" ui-sref="^" ng-click="responsiveCtrl.closeDetailsView()" hide-gt-md class="md-icon-button">
              <md-icon md-font-icon="" class="mdi mdi-arrow-left mdi-lg"></md-icon>
            </md-button>
            <span>Companies</span>
            <span flex> </span>
            <span>find a group</span>
          </div>
        </md-toolbar>
      </fa-surface>
    </fa-modifier>
    <fa-modifier fa-translate="[0,0,1]">
      <fa-scroll-view>
        <fa-modifier fa-size="[undefined, 60]">
          <fa-view>

          </fa-view>
        </fa-modifier>
        <fa-modifier>
          <fa-view>
            <fa-modifier >
              <fa-surface>
                <p>A list of user's groups</p>
                <pre>user:{{userGroupsCtrl.uid}}</pre>
                <group-list title="{{group.$priority}}" user-id="{{userGroupsCtrl.uid}}" group-id="{{group.$id}}" ng-repeat="group in userGroupsCtrl.list" ui-sref="app.profile.groups.detail({id: group.$id})" ui-sref-active="active"></group-list>
              </fa-surface>
            </fa-modifier>
          </fa-view>
        </fa-modifier>
      </fa-scroll-view>
    </fa-modifier>
    <fa-modifier fa-translate="[0,0,-1]">
      <fa-surface fa-background-color="'white'"></fa-surface>
    </fa-modifier>

  </fa-view>
</fa-modifier>
