<fa-modifier>
  <fa-view>
    <fa-modifier>
      <fa-surface>
        <md-toolbar>
          <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <md-button aria-label="back" ui-sref="^" ng-click="responsiveCtrl.closeDetailsView()" hide-gt-md class="md-icon-button">
              <md-icon md-font-icon="" class="mdi mdi-arrow-left mdi-lg"></md-icon>
            </md-button>
            <span>Pictures</span>
          </div>
        </md-toolbar>
      </fa-surface>
    </fa-modifier>
  </fa-view>
</fa-modifier>