<fa-modifier fa-translate="[0,0,1]">
  <fa-view>
    <fa-modifier>
      <fa-modifier fa-translate="[0,0,1]" fa-size="[undefined, 64]">
        <fa-surface>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <md-button aria-label="back" ui-sref="^" ng-click="responsiveCtrl.closeDetailsView()" hide-gt-md class="md-icon-button">
                <md-icon md-font-icon class="mdi mdi-arrow-left mdi-lg"></md-icon>
              </md-button>
            </div>
          </md-toolbar>
        </fa-surface>
      </fa-modifier>
      <fa-scroll-view fa-pipe-from="statsCtrl.scrollEventHandler">
        <fa-modifier fa-size="statsCtrl.contentSize.get()">
          <fa-view>
            <fa-surface class="full-height" fa-size="statsCtrl.contentSize.get()" fa-pipe-to="statsCtrl.scrollEventHandler">

              <md-content class="md-padding stats-view" get-dimensions action="statsCtrl.updateSize(height, width)" layout-fill style="z-index:1;">
                <md-card layout="column" flex>
                  <md-content class="md-padding">
                    <br>

                    <section id="name">
                      <h4 style="margin-bottom:0;" flex>
                        <md-input-container flex>
                          <label class="md-display-1 display" style="height:24px;overflow:visible; padding-top: 5px;">Name</label>
                          <input class="flex" type="text" aria-label="Name" ng-model="userStats.actorName" flex>

                        </md-input-container>
                      </h4>
                    </section>

                    <div layout="{{statsCtrl.contentLayout}}" layout-sm="column" layout-align="space-between start">
                      <span layout="row" layout-align="space-between top" layout-fill layout-margin>

                        <h5 style="margin-bottom:0;" flex class="md-display-1 display">Gender</h5>

                        <md-select placeholder="Gender" ng-model="userStats.gender" style="margin-top:0;">
                          <md-option value="male">Male</md-option>
                          <md-option value="female">Female</md-option>
                          <md-option value="other">Other</md-option>
                        </md-select>

                        <span flex="5" hide-sm hide-md></span>
                      </span>

                      <span layout="row" layout-align="space-between start" layout-fill layout-margin>

                        <h5 style="margin-bottom:0;" flex class="md-display-1 display">Age Range</h5>

                        <md-input-container>
                          <input id="ageMin" min="0" max="{{userStats.ageMax}}" ng-model="userStats.ageMin" type="number" ng-change="statsCtrl.ageRange(userStats.ageMin,userStats.ageMax)">
                        </md-input-container>
                        <h5 style="margin-bottom:0;" flex="5">to</h5>
                        <md-input-container>
                          <input id="ageMax" min="{{userStats.ageMin + 1}}" max="100" ng-model="userStats.ageMax" type="number" ng-change="statsCtrl.ageRange(userStats.ageMin,userStats.ageMax)">
                        </md-input-container>
                        <span flex="5" hide-sm hide-md></span>
                      </span>
                    </div>

                    <div layout="{{statsCtrl.contentLayout}}" layout-sm="column" layout-align="space-between start" layout-margin>

                      <section layout="column" layout-fill>
                        <h4 style="margin-bottom:0;" flex class="md-display-1 display">
                          <md-input-container>
                            <label>Eyes</label>
                            <input aria-label="eyes" ng-model="userStats.eyesDetails">
                          </md-input-container>
                        </h4>
                        <fire-tags title="eyes" user-id="{{statsCtrl.user}}" user-name={{userStats.actorName}} location="lib-eyes"></fire-tags>
                      </section>

                      <section layout="column" layout-fill>
                        <h4 style="margin-bottom:0;" flex class="md-display-1 display">
                          <md-input-container>
                            <label>Hair</label>
                            <input aria-label="hair color" ng-model="userStats.hairColor">
                          </md-input-container>
                        </h4>

                        <fire-tags user-id="{{statsCtrl.user}}" user-name={{userStats.actorName}} title="hair" location="lib-hair"></fire-tags>
                      </section>
                    </div>

                    <section layout="column" layout-margin>

                      <h4 style="margin-bottom:0; margin-left:0;" flex class="md-display-1 display">
                        <md-input-container>
                          <label>Voice</label>
                          <input aria-label="hair color" ng-model="userStats.voiceType">
                        </md-input-container>
                      </h4>
                      <fire-tags user-id="{{statsCtrl.user}}" user-name={{userStats.actorName}} title="voice" location="lib-voice"></fire-tags>

                    </section>

                    <section layout="column">
                      <span layout="row" layout-align="space-around center" layout-margin>
                        <h5 style="margin-bottom:0;" flex class="md-display-1 display">Union Membership</h5>
                        <md-divider></md-divider>
                      </span>
                      <fire-tags user-id="{{statsCtrl.user}}" user-name={{userStats.actorName}} title="unions" location="lib-unions"></fire-tags>

                    </section>
                    <section layout="column">
                      <span layout="row" layout-align="space-around center" layout-margin>
                        <h5 style="margin-bottom:0;" class="md-display-1 display" flex>Skills</h5>
                      </span>

                      <fire-tags user-id="{{statsCtrl.user}}" user-name={{userStats.actorName}} title="skills" location="lib-skills"></fire-tags>

                    </section>
                  </md-content>
                </md-card>

              </md-content>
            </fa-surface>
          </fa-view>
        </fa-modifier>
        <fa-modifier fa-size="[undefined, 64]">
          <fa-view>
            <fa-surface></fa-surface>
          </fa-view>
        </fa-modifier>

      </fa-scroll-view>
    </fa-modifier>
  </fa-view>
</fa-modifier>